<main class="main-content">
    <header class="hero hero-small row align-items-center justify-content-center"></header>
    <div class="row justify-content-center mb-2em"></div>
    <div class="rpw justify-content-center"></div>
    <div class="row align-items-center justify-content-center custom-block mt-4 mb-4"></div>
    <div class="row justify-content-center"></div>
    <hr>
    <div class="row align-items-center mt-2em mb-2em"></div>
    <hr>
    <div class="row justify-content-center mt-2em mb-2em">
        <div class="col-12 share text-center">
            <a href="https://www.linkedin.com/shareArticle?mini=true&url=" class="btn btn-black m-1" targe="_blank">
                <i class="fab fa-linkedin-in"></i>
                Share on Linkedin
            </a>
            <a href="https://www.facebook.com/sharer.php?u=" class="btn btn-black m-1" targe="_blank">
                <i class="fab fa-facebook-f"></i>
                Share on Facebook
            </a>
            <a href="https://www.linkedin.com/shareArticle?mini=true&url=" class="btn btn-black m-1" targe="_blank">
                <i class="fab fa-twitter"></i>
                Share on Twitter
            </a>
        </div>
    </div>
</main>
