<main class="main-content">
    <article class="container post-content">
        <header class="hero hero-small row align-items-center justify-content-center">
            <div class="col-10 col-md-8">
                <nav aria-label="breadcrumb" class="breadcrumb-container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ site.baseurl }}">Home</a>
                        </li>
                        <li class="breadcrumb-item" aria-current="page">
                            About
                        </li>
                    </ol>
                </nav>
                <h1>Hello!</h1>
            </div>
        </header>
        <!-- Foto Profil -->
        <div class="row">
            <div class="col-12">
                <!-- Pakai foto yang dikompress min 800px -->
                <img src="" data-src="" class="img-fluid lazy mb-2em loaded" data-was-processed="true">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-8"></div>
        </div>
        <!-- About -->
        <div class="custom-block custom-paragraph mt-4">
            <div class="row align-items-start justify-content-center mb-4">
                <div class="col-md-4 col-lg-2 mb-4">
                    <h2>
                        About
                    </h2>
                </div>
                <div class="col-md-8 col-lg-6 mb-4">
                    <!-- Isi ABOUT -->
                    <p>Its pleasure to greet you!</p>
                    <p>My name is (NAMENAME), I am a Psyhcology Bacheloor graduated from Brawijaya University with less than 1 year work experience</p>
                    <p>My experience areas including <strong>Graphic Design, UI&UX Design Research and Product Design</strong>Currently searching for new career opportunity</p>
                    <p>I was active with organization, committees and project experiences. I can be stressed if not productive because I am experience and knowledge thirst person type.</p>
                    <p> DIKASIH MODEL SEPERTI BUTTON DENGAN ISI SKILL</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center"></div>
        <div class="custom-block custom-paragraph mt-4"></div>
        <div class="row justify-content-center"></div>
        <div class="custom-block custom-paragraph mt-4"></div>
        <div class="row justify-content-center"></div>
        <div class="custom-block custom-paragraph mt-4"></div>
        <div class="row justify-content-center"></div>
        <div class="custom-block custom-paragraph mt-4"></div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <p></p>
            </div>
        </div>
    </article>
</main>