<!-- Jumbotron -->
<main class="main-content">
    <div class="container">
        <section class="hero row align-items-center justify-content-center">
            <div class="col-12 col-lg-8 text-center">
                <h1 class="mb-1em">Hello!, I am Azis
                    <p>
                    <span class="txt-rotate" data-period="2000" data-rotate='[ "Graphic", "UI & UX", "Interaction" ]'></span>
                    Design Passionate
                    </p>
                </h1>
                <p>Looking for career opportunity</p>
                <a href="{{ site.baseurl }}/about.html" class="btn btn-teal">
                    <i class="fas fa-user"></i>
                    View Profile
                </a>
            </div>
        </section>
    </div>
</main>