<div class="main-content">
    <div class="container">

    <section class="row">
        <div class="col-12">
            <h2>
                Portfolio & Dummies Project
                <span>
                    <a href="{{ site.baseurl }}" class="view-all">
                    <i class="fas fa-swatchbook"></i>
                        View all
                    </a>
                </span>
            </h2>
        </div>
        <div class="col-md-6">
            <div class="card hover-zoom">
                <a href="{{ site.baseurl }}/_post/#">
                <img src="{{ site.baseurl }}/img/portfolio/work1.jpg" data-src="" alt="#" class="lazy loaded" data-was-processed="true">
                <h3> Work </h3>
                <span class="post-category d-none d-md-block"> Design </span>
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card hover-zoom">
                <a href="{{ site.baseurl }}/_post/#">
                <img src="{{ site.baseurl }}/img/portfolio/work1.jpg" data-src="" alt="#" class="lazy loaded" data-was-processed="true">
                <h3> Work 1 </h3>
                <span class="post-category d-none d-md-block"> Design </span>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card hover-zoom">
                <a href="{{ site.baseurl }}/_post/#">
                <img src="{{ site.baseurl }}/img/portfolio/work1.jpg" data-src="" alt="#" class="lazy loaded" data-was-processed="true">
                <h3> Work 3 </h3>
                <span class="post-category d-none d-md-block"> Design </span>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card hover-zoom">
                <a href="{{ site.baseurl }}/_post/#">
                <img src="{{ site.baseurl }}/img/portfolio/work1.jpg" data-src="" alt="#" class="lazy loaded" data-was-processed="true">
                <h3> Work 4 </h3>
                <span class="post-category d-none d-md-block"> Design </span>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card hover-zoom">
                <a href="{{ site.baseurl }}/_post/#">
                <img src="{{ site.baseurl }}/img/portfolio/work1.jpg" data-src="" alt="#" class="lazy loaded" data-was-processed="true">
                <h3> Work 5 </h3>
                <span class="post-category d-none d-md-block"> Design </span>
                </a>
            </div>
        </div>
        <div class="col-12 text-center mt-1em mb-1em">
            <a href="{{ site.baseurl }}/_post/#" class="btn btn-teal">
            <i class="fas fa-swatchbook">
                View all
            </i>
            </a>
        </div>
    </section>

    </div>
</div>